# ==========================
# Python
# ==========================
__pycache__/
*.py[cod]
*$py.class

# Virtual Environment
.venv/

# ==========================
# Testing
# ==========================
.pytest_cache/
.coverage
htmlcov/

# ==========================
# IDE
# ==========================
.vscode/

# ==========================
# OS Files
# ==========================
.DS_Store
*~

# ==========================
# Logs
# ==========================
*.log